---
import Layout from '@/layouts/Layout.astro';
import About from '@/sections/About.astro';
import Footer from '@/sections/Footer.astro';
import Header from '@/sections/Header.astro';
---

<Layout title="Centro de Arbitraje CCIA">
	<Header />
	<main>
		<About />
	</main>
	<Footer />
</Layout>
