<div class="bg-white border-t-8 border-primary fixed w-full top-0 z-10">
  <nav class="max-w-7xl mx-auto px-5 py-2 flex justify-between items-center">
    <a href="/" class="">
      <img src="/logo.webp" alt="logo" class="w-56 hover:scale-105 transition-all duration-500" />
    </a>
    <ul class="text-base font-medium flex items-center gap-4 text-text-primary">
      <li class="hover:scale-110 transition-all duration-300 group">
        <a href="/nosotros" class="p-1 relative before:opacity-0 before:w-0 before:absolute before:border-b-2 before:border-tertiary before:bottom-0 before:left-0 group-hover:before:w-full group-hover:before:opacity-100 before:transition-all before:duration-300">Nosotros</a>
      </li>
      <li class="hover:scale-105 transition-all duration-300 group">
        <a href="index.php?page=about" class="p-1 relative before:opacity-0 before:w-0 before:absolute before:border-b-2 before:border-tertiary before:bottom-0 before:left-0 group-hover:before:w-full group-hover:before:opacity-100 before:transition-all before:duration-300">Arbitraje</a>
      </li>
      <li class="hover:scale-105 transition-all duration-300 group">
        <a href="index.php?page=contact" class="p-1 relative before:opacity-0 before:w-0 before:absolute before:border-b-2 before:border-tertiary before:bottom-0 before:left-0 group-hover:before:w-full group-hover:before:opacity-100 before:transition-all before:duration-300">Junta Resolución de Disputas</a>
      </li>
      <li class="hover:scale-105 transition-all duration-300 group">
        <a href="index.php?page=gallery" class="p-1 relative before:opacity-0 before:w-0 before:absolute before:border-b-2 before:border-tertiary before:bottom-0 before:left-0 group-hover:before:w-full group-hover:before:opacity-100 before:transition-all before:duration-300">Eventos</a>
      </li>
      <li class="hover:scale-105 transition-all duration-300 group">
        <a href="index.php?page=blog" class="p-1 relative before:opacity-0 before:w-0 before:absolute before:border-b-2 before:border-tertiary before:bottom-0 before:left-0 group-hover:before:w-full group-hover:before:opacity-100 before:transition-all before:duration-300">SIG</a>
      </li>
      <li class="hover:scale-105 transition-all duration-300 group">
        <a href="index.php?page=blog" class="p-1 relative before:opacity-0 before:w-0 before:absolute before:border-b-2 before:border-tertiary before:bottom-0 before:left-0 group-hover:before:w-full group-hover:before:opacity-100 before:transition-all before:duration-300">Transparencia</a>
      </li>
      <li class="hover:scale-105 transition-all duration-300 group">
        <a href="index.php?page=blog" class="p-1 relative before:opacity-0 before:w-0 before:absolute before:border-b-2 before:border-tertiary before:bottom-0 before:left-0 group-hover:before:w-full group-hover:before:opacity-100 before:transition-all before:duration-300">Contacto</a>
      </li>
    </ul>
  </nav>
</div>
